body {
  background-color: black;
}
table {
  width: 100%;
  margin-top: 25px;
}
table td {
  text-align: center;
  border: none;
  padding: 2px;
}
table td h1 {
  font-size: 2.5rem;
  margin: 0px;
  color: white;
}
table td h2 {
  font-size: 2.3rem;
  margin: 0px;
  color: whitesmoke;
}
table td h3 {
  font-size: 2rem;
  margin: 0px;
}

div.three.columns {
  border-bottom: 1px solid #d1d1d1;
  margin: 0px;
}
