<div class="container">
  <div class="row">
    <% delete cotacao.source %> <% for (i in cotacao) { %>
    <div class="three columns">
      <table>
        <tbody>
          <tr>
            <td><h1>R$ <%= cotacao[i].buy %></h1></td>
          </tr>
          <tr>
            <td>
              <h2>
                <% if(cotacao[i].name == 'Pound Sterling'){ %> Libra <% } else if(cotacao[i].name == 'Argentine Peso') { %> Peso <% }else { %>
                <%= cotacao[i].name %> <% } %>
              </h2>
            </td>
          </tr>
          <tr>
            <% if(cotacao[i].variation > 0){%>
            <td style="color: green">
              <h3>
                <i class="fas fa-angle-up"></i> <%= cotacao[i].variation %>
              </h3>
            </td>
            <% } else { %>
            <td style="color: red">
              <h3>
                <i class="fas fa-angle-down"></i> <%= cotacao[i].variation %>
              </h3>
            </td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </div>
    <%}%> <% for (i in bitcoin) { %>
    <div class="three columns">
      <table>
        <tbody>
          <tr>
            <td>
              <h1>
                <% if(bitcoin[i].format[0] == 'USD'){%> US$ <% } else
                if(bitcoin[i].format[0] == 'BRL') { %> R$ <% } %> <%=
                bitcoin[i].last %>
              </h1>
            </td>
          </tr>
          <tr>
            <td><h2><%= bitcoin[i].name %></h2></td>
          </tr>
          <tr>
            <% if(bitcoin[i].variation > 0){%>
            <td style="color: green">
              <h3>
                <i class="fas fa-angle-up"></i> <%= bitcoin[i].variation %>
              </h3>
            </td>
            <% } else { %>
            <td style="color: red">
              <h3>
                <i class="fas fa-angle-down"></i> <%= bitcoin[i].variation %>
              </h3>
            </td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </div>
    <%}%>
  </div>
</div>
