<div class="container">

      <!-- Taxas -->
      <table class="u-full-width">
        <caption>
          <h1>Taxas Brasileiras</h1>
        </caption>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CDI</td>
            <td><%= taxas[0].cdi %>%</td>
            <td><%= taxas[0].date %></td>
          </tr>
          <tr>
            <td>Selic</td>
            <td><%= taxas[0].selic %>%</td>
            <td><%= taxas[0].date %></td>
          </tr>
        </tbody>
      </table>

      <!-- Moedas -->
      <table class="u-full-width">
        <caption>
          <h1>Moedas Correntes</h1>
        </caption>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Variação</th>
          </tr>
        </thead>
        <tbody>
          <% delete cotacao.source %> <% for (i in cotacao) { %>
          <tr>
            <td><%= cotacao[i].name %></td>
            <td>R$ <%= cotacao[i].buy %></td>
            <% if(cotacao[i].variation > 0){%>
            <td style="color: green">
              <i class="fas fa-angle-up"></i> <%= cotacao[i].variation %>
            </td>
            <% } else { %>
            <td style="color: red">
              <i class="fas fa-angle-down"></i> <%= cotacao[i].variation %>
            </td>
            <% } %>
          </tr>
          <%}%>
        </tbody>
      </table>

      <!-- Moedas Virtual -->
      <table class="u-full-width">
        <caption>
          <h1>Moedas Virtuais</h1>
        </caption>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Último Valor</th>
            <th>Variação</th>
          </tr>
        </thead>
        <tbody>
           <% for (i in bitcoin) { %>
          <tr>
            <td><%= bitcoin[i].name %></td>
            <td><%= bitcoin[i].format[0] %> <%= bitcoin[i].last %></td>
            <% if(bitcoin[i].variation > 0){%>
            <td style="color: green">
              <i class="fas fa-angle-up"></i> <%= bitcoin[i].variation %>
            </td>
            <% } else { %>
            <td style="color: red">
              <i class="fas fa-angle-down"></i> <%= bitcoin[i].variation %>
            </td>
            <% } %>
          </tr>
          <%}%>
        </tbody>
      </table>

      <!-- Bolsa -->
      <table class="u-full-width">
        <caption>
          <h1>Bolsa de Valores</h1>
        </caption>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Localização</th>
            <th>Variação</th>
          </tr>
        </thead>
        <tbody>
           <% for (i in bolsa) { %>
          <tr>
            <td><%= bolsa[i].name %></td>
            <td><%= bolsa[i].location %></td>
            <% if(bolsa[i].variation > 0){%>
            <td style="color: green">
              <i class="fas fa-angle-up"></i> <%= bolsa[i].variation %>
            </td>
            <% } else { %>
            <td style="color: red">
              <i class="fas fa-angle-down"></i> <%= bolsa[i].variation %>
            </td>
            <% } %>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>