<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700"
      rel="stylesheet"
    />
    
    <% if (process.env.NODE_ENV === 'dev') {%>
    <link rel="stylesheet" href="css/style.css" />
    <% } else { %>
    <link rel="stylesheet" href="app/public/css/style.css" />
    <% } %>

    <% if (process.env.NODE_ENV === 'dev') {%>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <% } else { %>
    <link rel="shortcut icon" type="image/x-icon" href="app/public/images/favicon.ico">
    <% } %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include(page) -%>
  </body>
</html>
